html {background-image: linear-gradient(to right top, #dd1888, #ae2e84, #803477, #593361, #392c46, #362d49, #332d4b, #2f2e4e, #383c76, #3a4ba1, #345bcf, #146cff);
    
font-family: Arial, Helvetica, sans-serif;}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.logo{
    color:darkviolet;
    font-size: 28px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: darkviolet;
    transition: .3s;
}

button{
    border: none;
    background-color: #dd1888;
    padding: 12px 30px;
    border-radius: 30px;
}

.genre_gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
}

button#jazz {
    justify-content: center;
}

/* Logo/Nav Bar Animation */
/* .logo{
    width: 475px;
    opacity: 1;
    animation: final_move 2s;
}

@keyframes final_move{
    from {width: 275px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

@media screen and (prefers-reduced-motion: reduce){
    .logo{
        animation: none;
    }
} */

/* .genre_gallery {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 100px;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
} */

.genre {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}
  
.genre .image {
    flex: 1;
    padding: 10px;
}
  
