html {background-image: linear-gradient(to right top, #dd1888, #ae2e84, #803477, #593361, #392c46, #362d49, #332d4b, #2f2e4e, #383c76, #3a4ba1, #345bcf, #146cff);}

body::before{
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(20% at right);
    z-index: -1;
}

body::after{
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(18% at 10% 10%);
    z-index: -1;
}

nav{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.logo{
    color:darkviolet;
    font-size: 28px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left: auto ;
    margin-right: auto ;
    justify-content:space-between;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a.button:hover {
    color: darkviolet;
    transition: .3s;
}

a:focus, a.button:focus {
    color: darkviolet;
}

a.button {
    background-color: #dd1888;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-family: 'Black Ops One';
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    padding: 50px;
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
    justify-self: center;
    margin: auto;
    /* row-gap: 100px;
    column-gap: 100px */
}

/* .player .imgbox {
    width: 100%;
    padding: 10px;
}

.player .imgbox img {
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
}

.player audio {
    width: 100%;
    padding-top: 20px;
    outline: none;
    object-fit: cover;
} */

/* .gallery img {
    margin: auto;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
} */

.card_info {
    transition: 0.5s ease;
}

.card_info:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.card_info {
    --c: rgb(201, 195, 111);     
    --b: 8px;                     
    --g: 0px;                     
    padding: calc(var(--g) + var(--b));
    --_g: #0000 0%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top var(--b) right var(--b),var(--_g))
      var(--_i,200%) 0/200% var(--_i,var(--b))  no-repeat,
      conic-gradient(at bottom var(--b) left var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .2s, background-position .2s .2s;
    cursor: pointer;
}

.card_info:hover {
    --_i: 100%;
    transition: .2s, background-size .2s .2s;
}

.title img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.card_info {
    /* display: grid; */
    font-family: 'Open Sans';
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.card_info p, .card_info:hover, .card_title:hover{
    padding: 10px;
    color: white;
}

.card_title {
    padding: 10px;
    color: white;
}

.card_info img {
    border-radius: 10px;
    width: 100%;
}

body > a {
    position: absolute;
    top: -30px;
}

body a:focus{
    top: 10px;
    transition: 0.5s;
}

/* .skip a:focus{
top: 20px;
} */

nav a, #main {
    font-family: 'Black Ops One';
}  

.body_text{
    padding: 5%;
    color: white;
}

h1,h2,h3{
    font-family: 'Black Ops One';
}

h3,p{
    font-family: 'Open Sans';
    font-size: 14px;
}

.genre_gallery{
    z-index: 1;
}

.genre_gallery img{
    border-radius: 500px;
    border: solid 12px black;
}

.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255,0.1);
    padding: 90px 60px 100px 60px;
    border-radius: 30px;
    margin-top:60px;
    margin-bottom:60px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0,0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}
.image h2{
    position: absolute;
    top: -60px;
    right: 30px;
    font-size: 6em;
    color:rgba(0, 0, 0, 0.2);
}
.image h4{
    margin-block: 0px;
    justify-content: center;
    padding-top: 16px;

}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card p{
    padding-left: 30px;
}

.current:hover, .current:focus {
    border: solid 2px rgb(201, 195, 111);
    background-color: rgb(201, 195, 111);
    border-radius: 20px;
    padding: 12px 10px 10px 10px;
    box-shadow: black;
}

@media screen and (min-width: 800px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        grid-template-rows: auto;
    }

    #one {
        grid-column: 1 / span 3;
    }

    #two {
        grid-column: 3 / span 3;
        grid-row: 2;
    }

    #three {
        grid-column: 6 / span 3;
        grid-row: 1;
    }

    #four {
        grid-column: 8 / span 3;
        grid-row: 2;
    }

    #five {
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    #six {
        grid-column: 6 / span 3;
        grid-row: 3;
    }

    #seven {
        grid-column: 3 / span 3;
        grid-row: 4;
    }
 
    #eight {
        grid-column: 8 / span 3;
        grid-row: 4;
    }

    #nine {
        grid-column: 1 / span 3;
        grid-row: 5;
    }

    #ten {
        grid-column: 6 / span 3;
        grid-row: 5;
    }

    #eleven {
        grid-column: 3 / span 3;
        grid-row: 6;
    }

    #twelve {
        grid-column: 8 / span 3;
        grid-row: 6;
    }
}

/* @media screen and (min-width: 900px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
} */