
    html {background-image: linear-gradient(to right top, #dd1888, #ae2e84, #803477, #593361, #392c46, #362d49, #332d4b, #2f2e4e, #383c76, #3a4ba1, #345bcf, #146cff);}

    body::before{
        content:'';
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background: linear-gradient(#f00,#f0f);
        clip-path: circle(20% at right);
        z-index: -1;
    }

    body::after{
        content:'';
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background: linear-gradient(#2196f3,#e91e63);
        clip-path: circle(18% at 10% 10%);
        z-index: -1;
    }


    nav{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .logo{
        color:darkviolet;
        font-size: 28px;
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 20px;
        margin-left: auto ;
        margin-right: auto ;
        justify-content:space-between;
    }
    
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    a:hover{
        color: darkviolet;
        transition: .3s;
    }
    
    button{
        border: none;
        background-color: #dd1888;
        padding: 12px 30px;
        border-radius: 30px;
    }


.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    padding: 50px;
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
    justify-self: center;
}
 
.gallery img {
    width: 60%;
    border: solid 5px #1470a5;
    margin: auto;
}

.gallery img{
    transition: 0.5s ease;
    }
    
    .gallery img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    }

/* nav li {
    display: inline-block;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
    margin: 25px;
}

a:visited {
    color: #0000ff;
} 

nav a:focus {
    text-decoration: underline;
}
 
nav a:hover {
    text-decoration: underline;
} */
 
body > a {
    position: absolute;
    top: -30px;
}

body a:focus{
    top: 10px;
    transition: 0.5s;
}

/* .skip a:focus{
    top: 20px;
} */
 
nav a {
    font-family: 'Black Ops One';
}   
.body_text{
    padding: 5%;
    color: white;
}
h4,p{
    font-family: 'Open Sans';
    font-size: 14px;
}
h1,h2,h3{
    font-family: 'Black Ops One';
}

.genre_gallery{
    z-index: 1;
}
.genre_gallery img{
    border-radius: 500px;
    border: solid 12px black;
}
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255,0.1) ;
    padding: 90px 60px 100px 60px;
    border-radius: 30px;
    margin-top:60px;
    margin-bottom:60px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0,0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}
.image h2{
    position: absolute;
    top: -60px;
    right: 30px;
    font-size: 6em;
    color:rgba(0, 0, 0, 0.2);
}
.image h4{
    margin-block: 0px;
    justify-content: center;
    padding-top: 16px;

}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card p{
    padding-left: 30px;
}
@media screen and (min-width: 500px) {
    .gallery {
       grid-template-columns: repeat(2, 1fr);
    }

    .gallery img {
        width: 100%;
        margin: auto;
    }
}
 
@media screen and (min-width: 900px) {
    .gallery {
       grid-template-columns: repeat(3, 1fr);
    }
}