html {
    background-image: linear-gradient(to right top, #dd1888, #ae2e84, #803477, 
    #593361, #392c46, #362d49, #332d4b, #2f2e4e, 
    #383c76, #3a4ba1, #345bcf, #146cff);
}
    
html {
    scroll-behavior: smooth;
    line-height: 1.2;
    margin: inherit;
}

body::before {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(20% at right);
    z-index: -1;
}

body::after {
    content:'';
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(18% at 10% 10%);
    z-index: -1;
}

nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

h1.logo a {
    color:#a119db;
    font-size: 28px;
    stroke: black;
}

h1.logo a:hover, h1.logo a:focus {
    color: rgb(231, 230, 230);
    transition: 0.3s;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left: auto ;
    margin-right: auto ;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a.btn:hover, a.btn.active:hover {
    color: rgb(255, 54, 168);
    transition: 0.3s;
}

a.btn:focus, a.btn.active:focus {
    color: rgb(255, 54, 168);
}

a.btn.active, a.btn.active:hover, a.btn.active:focus {
    color: rgb(255, 54, 168);
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(253, 253, 253);
    font-family: 'Black Ops One';
}

/* #main a:focus {
    color: darkviolet;
    position: absolute;
    top: -40px;
} */

/* a.button.active, a.button.active:hover, a.button.active:focus {
    padding-bottom: 10px;
    border-bottom: 0px;
} */

/* a.button {
    background-color: #dd1888;
    padding: 12px 30px 12px;
    border-radius: 30px;
    color: white;
    font-family: 'Black Ops One';
} */

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    padding: 20px;
    grid-gap: 30px;
    align-items: stretch;
    justify-content: center;
    justify-self: center;
    margin: auto;
}

#player {
    grid-column: 1 / span 2;
}

.gallery img {
    width: 100%;
    margin: auto;
    border-radius: 20px;
}

.card_info {
    transition: 0.5s ease;
}

.card_info:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}

.card_info {
    display: grid;
    font-family: 'Open Sans';
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
}

.card_title {
    padding: 10px;
    color: white;
    line-height: 1.2;
}

.card_info img {
    border-radius: 10px;
    width: 100%;
}

div.skip a {
    position: absolute;
    font-family: 'Black Ops One';
    top: -40px;
    margin-left: 10px;
}

div.skip a:hover, div.skip a:focus {
    color: darkviolet;
    text-decoration: underline;
}

body a:focus {
    top: 10px;
    transition: 0.5s;
}

nav a, #main {
    font-family: 'Black Ops One';
}  

.body_text {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    color: white;
}

h1, h2, h3 {
    font-family: 'Black Ops One';
    text-align: center;
}

h1 {
    color: white;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3, p {
    font-family: 'Open Sans';
    font-size: 14px;
}

.card h3 {
    text-align: center;
    font-weight: bold;
    margin: auto;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 1.2;
}

.genre_gallery {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.genre_gallery img {
    border-radius: 500px;
    border: solid 12px black;
    margin-top: 50px;
}

.card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(255, 255, 255,0.1);
    padding: 90px 60px 80px 60px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0,0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255,0.5);
    border-left: 1px solid rgba(255, 255, 255,0.5);
    backdrop-filter: blur(5px);
}

.image h2 {
    position: absolute;
    top: -60px;
    right: 30px;
    font-size: 6em;
    color:rgba(0, 0, 0, 0.2);
    margin-top: 90px;
    margin-right: 10px;
}

.image h4 {
    margin-block: 0px;
    justify-content: center;
    padding-top: 16px;
}

div.image {
    display: contents;
}

.card p {
    padding-left: 20px;
    line-height: 1.2;
}

.current:hover, .current:focus {
    border: solid 2px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 12px 10px 10px 10px;
    box-shadow: black;
}

@media screen and (prefers-reduced-motion: reduce) {

    .card_info {
        transition: none;
    }
    
    .card_info:hover, .card_title:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        transition: unset;
    }

}

@media screen and (min-width: 700px){
    /* FLEX STYLING */
    .genre_gallery {
        padding: 0;
        margin: 0;
    }

    div.image {
        display: block;
    }

    .card {
        /* flex-direction: column; */
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 800px) {
    /* GRID STYLING */
    .stupid_flex {
        display: flex;
        flex-direction: column;
    }

    .stupid_flex .card {
        flex-direction: row; 
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
    }

    #player {
        grid-column: 1 / span 3;
    }
}

@media screen and (min-width: 1000px) {
    /* FLEX STYLING */
    .stupid_flex {
        display: flex;
        flex-direction: row;
    }

    .stupid_flex .card {
        flex-direction: column; 
    }

    .stupid_flex .card p {
        padding: 0px;
    }

    .genre_gallery {
        padding: 0;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card p {
        padding-left: 40px;
    }

    /* GRID STYILNG */
    .gallery {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding-top: 50px;
        padding-bottom: 50px;
        row-gap: 30px;
        column-gap: 30px;
        width: 80%;
    }

    .card {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    div.image {
        display: block;
    }

    .gallery img {
        width: 100%;
    }

    #one {
        grid-column: 1 / span 4;
        grid-row: 1 / span 2;
    }

    #two {
        grid-column: 5 / span 2;
        grid-row: 1 / span 1;
    }

    #three {
        grid-column: 7 / span 2;
        grid-row: 1 / span 1;
    } 

    #four {
        grid-column: 5 / span 2;
        grid-row: 2 / span 1;
    }

    #five {
        grid-column: 7 / span 2;
        grid-row: 2 / span 1;
    }

    #six {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }

    #seven {
        grid-column: 3 / span 2;
        grid-row: 3 / span 1;
    }

    #eight {
        grid-column: 5 / span 4;
        grid-row: 3 / span 2;
    }

    #nine {
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
    }

    #ten {
        grid-column: 3 / span 2;
        grid-row: 4 / span 1;
    }

    #eleven {
        grid-column: 1 / span 4;
        grid-row: 5 / span 2;
    }

    #twelve {
        grid-column: 5 / span 4;
        grid-row: 5 / span 2;
    }

    #player {
        grid-column: 1 / span 8;
    }
}