
html {background-image: linear-gradient(to right top, #dd1888, #ae2e84, #803477, #593361, #392c46, #362d49, #332d4b, #2f2e4e, #383c76, #3a4ba1, #345bcf, #146cff);
    
    font-family: Arial, Helvetica, sans-serif;}
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .logo{
        color:darkviolet;
        font-size: 28px;
    }
    
    nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 20px;
        margin-left: auto ;
        margin-right: auto ;
        justify-content:space-between;
    }
    
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    a:hover{
        color: darkviolet;
        transition: .3s;
    }
    
    button{
        border: none;
        background-color: #dd1888;
        padding: 12px 30px;
        border-radius: 30px;
    }


.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    padding: 50px;
    grid-gap: 20px;
    align-items: stretch;
    justify-content: center;
    justify-self: center;
}
 
.gallery img {
    width: 60%;
    margin: auto;
}

.gallery img{
    transition: 0.5s ease;
    }
    
    .gallery img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    }

/* nav li {
    display: inline-block;
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
    margin: 25px;
}

a:visited {
    color: #0000ff;
} 

nav a:focus {
    text-decoration: underline;
}
 
nav a:hover {
    text-decoration: underline;
} */
 
body > a {
    position: absolute;
    top: -30px;
}

body a:focus{
    top: 10px;
    transition: 0.5s;
}

/* .skip a:focus{
    top: 20px;
}
 
nav a {
    text-decoration: none;
}    */
.body_text{
    padding: 5%;
    color: white;
}
h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (min-width: 500px) {
    .gallery {
       grid-template-columns: repeat(2, 1fr);
    }

    .gallery img {
        width: 100%;
        margin: auto;
    }
}
 
@media screen and (min-width: 900px) {
    .gallery {
       grid-template-columns: repeat(3, 1fr);
    }
}